<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off">

  <!-- Define variables -->
  <variable name="appName" value="DistroNexus"/>

  <!-- Default log directory: %APPDATA%\DistroNexus\Logs (Roaming) -->
  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}\${appName}\Logs"/>

  <!-- Log file name pattern with date -->
  <variable name="logFileName" value="${logDirectory}\${appName}_${shortdate}.log"/>

  <!-- Archive settings -->
  <variable name="archiveFileName" value="${logDirectory}\archives\${appName}_{#}.log"/>

  <!-- Define targets -->
  <targets>
    <!-- File Target: Write to rotating log files -->
    <target xsi:type="File" 
            name="fileTarget"
            fileName="${logFileName}"
            archiveFileName="${archiveFileName}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8">
      
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="errorCode" layout="${event-properties:item=ErrorCode}" />
        <attribute name="exception" layout="${exception:format=toString,StackTrace}" encode="false" />
        <attribute name="properties" encode="false">
          <layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2"/>
        </attribute>
      </layout>
    </target>

    <!-- Console Target: For debugging -->
    <target xsi:type="Console" 
            name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|ErrorCode=${event-properties:item=ErrorCode}|${message} ${exception:format=toString,StackTrace}"/>

    <!-- Debug Target: For Visual Studio Output window -->
    <target xsi:type="Debugger" 
            name="debugTarget"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}"/>

  </targets>

  <!-- Define logging rules -->
  <rules>
    <!-- Write all logs with level Info and above to file -->
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    
    <!-- Write all logs with level Debug and above to console (for development) -->
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
    
    <!-- Write all logs with level Trace and above to debugger -->
    <logger name="*" minlevel="Trace" writeTo="debugTarget" />
    
    <!-- Skip Microsoft logs below Warning level for file -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
  </rules>

</nlog>
